* {
    margin: 0;
    padding: 0;
}

body {
    background-color: 226, 230, 234;
}

.titulo-marca {
    font-family: 'Rammetto One', cursive;
}

.nav-link {
    font-family: 'Rammetto One', cursive;
}