body{
    background-color: #D8D8D8;
}

#div-imagenes{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
    
}
img{
    display: block;
    margin: 0 auto;
}

#titulo{

text-shadow: 1px 1px 2px #744AFF;
font-weight:bold;
background: -moz-linear-gradient(top, rgba(97,178,244,1) 0%, rgba(171,211,238,1) 50%, rgba(35,154,234,1) 51%, rgba(124,197,249,1) 100%);
border-radius: 20px 20px 0px 0px;
color: white;  
letter-spacing:1pt;
word-spacing:2pt;
font-size:70px;
text-align:center;
font-family:lucida sans unicode, lucida grande, sans-serif;
box-shadow: 5px 10px 8px #6699ff;
padding-left: 10px;
padding-right: 10px;
}

#autor
{ 
text-shadow: 1px 1px 2px #744AFF;
font-weight:bold;
color:#1E388F;
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
border-radius: 0px 0px 20px 20px;
color: white;  
letter-spacing:1pt;
word-spacing:2pt;
font-size:30px;
text-align:center;
font-family:lucida sans unicode, lucida grande, sans-serif;
padding-left: 10px;
padding-right: 10px;
}

#infoPagina{
    background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 53%, #2ab0ed 100%);
    
    display: inline-flex;
    border-radius: 20px 20px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-left: 20px;
    font-family:lucida sans unicode, lucida grande, sans-serif;
}



